doctype html
html
  head
    title Xhatting
    meta(name='description', content='Chat page')
    link(rel='icon', href='https://image.flaticon.com/icons/svg/589/589723.svg', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/public/style.css')
  body
    main.main-chat
      h1.title-xhatting Xhatting the next future chatting !
      h2 Socket.IO Chat
      p#num-users
      div.chat
        div#clean-button-container
          button#clean-chat Clear Chat
        div.chat-box
          ul#messages
          form(action='')
            input#m(autocomplete='off')
            button.button-send Send
      a(href='/logout', class="logout-link") Logout  
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js')
    script(src='/public/client.js')