/* All the css for the chat is right here */

/* The perfect font for all */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  text-align: center;
  font-family: 'Alata';
  background-color: #303841;
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#space-color-top {
  background-color: #6231be;
  height: 80px;
  margin-bottom: auto;
  border-bottom: 4px solid rgba(0,0,0,0.15);
  transition: all 0.5s ease;
}

#space-color-bottom {
  background-color: #6231be;
  height: 80px;
  border-top: 4px solid rgba(0,0,0,0.15);
  margin-top: auto;
  transition: all 0.5s ease;
}

.subtitle-container {
  font-size: 20px;
  color: white;
  margin: 10px auto;
  width: 80%;
  transition: all 0.5s ease;
}

#title-xhatting {
  font-size: 100px;
  text-shadow: 9px 8px 0px rgba(0,0,0,0.15);
  color: white;
}

.title-xhatting {
  font-size: 100px;
  text-shadow: 9px 8px 0px rgba(0,0,0,0.15);
  color: white;
  transition: font-size 0.5s ease;
}

#login-links-container {
  margin: 10px 0;
}

.login-link {
  padding: 15px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: color 0.3s ease-out;
  transition: all 0.5s ease;
}

.login-link:hover  {
  color: #6231be;
}

@media (max-width: 700px), (max-height: 400px) {
  .login-link {
    padding: 5px;
    font-size: 20px;
  }

  #space-color-bottom {
    height: 100px;
  }

  #space-color-top {
    height: 100px;
  }

  .title-xhatting {
    font-size: 80px;
  }
}

/* Num of people in the chat */
#num-users {
  background-color: #6231be;
  width: 120px;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: default;
  transition: all 0.5s ease;
}


/* Styling the chat */

.main-chat {
  height: 100vh;
}

.chat {
  display: flex;
  width: 850px;
  height: 450px;
  margin: auto;
  background-color: #6231be;
  border-radius: 10px;
  flex-direction: column;
  transition: ease all 0.5s;
}

.chat-box {
  width: 95%;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

#messages { 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border-radius: 6px;
}

#messages li { 
  padding: 5px 10px;
  border-radius: 5px;
}

#messages li:nth-child(odd) { 
  background: #eee;
}

#clean-chat {
  border: none;
  padding: 10px;
  font-family: 'Alata';
  cursor: pointer;
  margin: 5px 0 0 0;
}

.title-chat {
  font-size: 60px;
  text-shadow: 9px 8px 0px rgba(0,0,0,0.15);
  color: white;
  transition: font-size 0.5s ease;
}


form {
  width: 100%;
  height: 40px;
  text-align: center;
}

form input {
  height: 31px;
  border: 1px solid black;
  width: 90%;
  border-radius: 5px;
  float: left;
  margin-top: 2px;
}


.button-send {
  border: 1px solid black;
  padding: 6px 20px 6px 19px;
  border-radius: 5px;
  margin-top: 2px;
  font-family: 'Alata';
  font-size: 15px;
  cursor: pointer;
}

.logout-link {
  background-color: #6231be;
  padding: 10px;
  border-radius: 5px;
  width: 15%;
  text-decoration: none;
  color: white;
  margin: 60px auto;
  font-size: 18px;
}

/* media query */
@media (max-width: 800px), (max-height: 400px) {
  .chat {
    width: 400px;
    height: 460px;
  }

  .chat-box {
    margin: 10px 10px;
  }

  .title-chat {
    font-size: 40px;
  }

  form {
    width: 100%;
  }

  form input {
    width: 98%;
  }

  .button-send {
    margin: 5px;
  }

  #num-users {
    padding: 5px;
    width: 90px;
    font-size: 17px;
  }
}




